

<center><b><u><h4><%= link_to "New Movie", new_store_path %></h4></u></b></center>  
<br>   
<br>   

<div class="album py-5 bg-light">
        <div class="container">
        <div class="row">
 <% @store.each do |m| %> 
          
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="<%= m.attachment %>" class="card-img-top"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><b>Title:</b><%= m.title %><br>
                  <b>category:</b><%= m.category %><br>
                  <b>Year:</b><%= m.year %><br>
                  <b>price:</b><%= m.price %></p>
                  <b><u><%= link_to "Download", m.attachment_url %></b></u>
                  <b><u><%= link_to "Delete",  m, method: :delete, confirm: "Are you sure you want to delete #{m.attachment}?" %>
                  </b></u>
                  </div>
                </div>
              </div>
              <% end %> 
            </div>
            <br>
            <br>